:root{
    /* Primary*/
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);/*text*/
    --Very-Dark-Gray: hsl(0, 0%, 41%);/*card hover*/
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /*  font-family: 'Alata', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    - Mobile: 375px
    - Desktop: 1440px   */
    font-size: 15px;
}
header{
    height: 75vh;
    background-image: url(images/mobile/image-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    position: relative;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    padding-left: 5%;
    padding-right: 5%; 
}
.logo{
   z-index: 9999; 
}
.hamburger{
    background-image: url(images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 20px;
    z-index: 9998;
}
.hamburger-active{
    background-image: url(images/icon-close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 20px;
}
.nav-div{
    display: none; 
}
.show-div{
    display: block;
    position: absolute;  
    position: fixed;
    inset: 0 0 0 0;
    background-color: var(--Black); 
    height: 100vh;
}
.nav-ul{
    list-style: none; 
    color: var(--White);
    display: flex;
    flex-direction: column; 
    padding: 50% 0% 0% 5%;
    gap: 1em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5em;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    width: 90%;
    padding: 5% 10% 5% 5%;
    font-size: 2.8em;
    margin-top: 13vh;
    margin-left: auto;
    margin-right: auto;
    color: var(--White);
    text-transform: uppercase;
    border: 2px solid var(--White);
}
.hero-img{
    background-image: url(images/mobile/image-interactive.jpg);
    width: 90%;
    height: 30vh;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.vr-h2{
    margin-top: 10%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--Black);
    font-size: 2em;
    text-align: center;
}
#hero-p{
    padding: 5% 10%;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    color: var(--Dark-Gray);
    text-align: center;
    line-height: 1.5em;
}
.creations-h2{
    margin-top: 10%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--Black);
    font-size: 2em;
    text-align: center;
}
.see-all{
    display: none;
}
.card-section{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
}

#night-text{
    height: min-content;
    background-color: hsla(0, 0%, 0% , 70%);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px black;
}
#soccer-text{
    width: 7em;
}
#from-up-text{
    width: 6em;
}

#deep{
    background-image: url(images/mobile/image-deep-earth.jpg);
    width: 60%;
    height: 15vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#night{
    background-image: url(images/mobile/image-night-arcade.jpg);
    width: 60%;
    height: 15vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} 
#soccer{
    background-image: url(images/mobile/image-soccer-team.jpg);
    width: 60%;
    height: 15vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} 
#grid{
    background-image: url(images/mobile/image-grid.jpg);
    width: 60%;
    height: 15vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} 
#above{
    background-image: url(images/mobile/image-from-above.jpg);
    width: 60%;
    height: 15vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#pocket{
    background-image: url(images/mobile/image-pocket-borealis.jpg);
    width: 60%;
    height: 15vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#curiosity{
    background-image: url(images/mobile/image-curiosity.jpg);
    width: 60%;
    height: 15vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#fisheye{
    background-image: url(images/mobile/image-fisheye.jpg);
    width: 60%;
    height: 15vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.cards{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-text{
    position: absolute;
    z-index: 200;
    color: var(--White);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5em;
    width: min-content;
    top: 40%;
    left: 5%;
    right: 0;
    bottom: 0;
}
.see-all-mobile{
    border: 1px solid var(--Black);
    width: 40%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    padding: 2% 5%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 5px;
}
.see-all-mobile:hover{
    background-color: var(--Black);
    color: var(--White);
}
footer{
    margin-top: 10%;
    background-color: var(--Black);
    
}
.first-footer-div{
    display: flex;
    flex-direction: column;
}
.logo-footer{
    background-image: url(images/logo.svg);
    width: 192px;
    height: 32px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
.footer-ul{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    color: var(--White);
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}
.footer-ul li{
    position: relative;
    display: block;
}
.footer-ul li::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: var(--White);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: center;
}
.footer-ul li:hover::after{
    transform: scaleX(1);
  transform-origin: center;
}
.second-footer-div{
    display: flex;
    flex-direction: column;
}
.footer-icons{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    margin-top: 10%;
}
#footer-p{
    color: var(--Dark-Gray);
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}